@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
	ViewBag.Title = "Index";
}

<h2>Available Roles For Application</h2>

@Html.ActionLink("Create Role", "Create", "Roles")

<table>
	<tr>
		<th>Role Name</th>
		<th></th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>
				@item.Name
			</td>
			<td>
				@Html.ActionLink("Delete", "Delete")
			</td>
		</tr>
	}
</table>